<h2>{{ formTitle }}</h2>
<form [formGroup]="epiForm" (ngSubmit)="onSubmit()">
  <div class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Nature</mat-label>
      <mat-select formControlName="nature">
        <mat-option *ngFor="let item of epiMaterielList" [value]="item">
          {{ item.nature }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Numéro de série</mat-label>
      <input matInput formControlName="serialNumber" />
      <mat-error *ngIf="epiForm.get('serialNumber')?.hasError('required')">
        numéro nécessaire.
      </mat-error>
      <mat-error *ngIf="epiForm.get('serialNumber')?.hasError('alreadyExists')">
        Déja utilisé.
      </mat-error>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Mise en service</mat-label>
      <input matInput [matDatepicker]="activationPicker" formControlName="activationDate" />
      <mat-datepicker-toggle matSuffix [for]="activationPicker"></mat-datepicker-toggle>
      <mat-datepicker #activationPicker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Date de fabrication</mat-label>
      <input matInput [matDatepicker]="fabricationPicker" formControlName="fabricationDate" />
      <mat-datepicker-toggle matSuffix [for]="fabricationPicker"></mat-datepicker-toggle>
      <mat-datepicker #fabricationPicker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Durée Validité (années)</mat-label>
      <input matInput type="number" formControlName="validiteYears" min="0" max="100" step="1" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valide Jusqu'au</mat-label>
      <input matInput [matDatepicker]="validityPicker" formControlName="validiteLimite" />
      <mat-datepicker-toggle matSuffix [for]="validityPicker"></mat-datepicker-toggle>
      <mat-datepicker #validityPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Assignation</mat-label>
    
      <input type="text" matInput [formControl]="peopleFormControl" [matAutocomplete]="auto">
      <button mat-icon-button matSuffix *ngIf="peopleFormControl.value" (click)="peopleFormControl.reset()">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of (filteredPeople | async)" [value]="item">
          {{ item.prenom }} {{ item.nom }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Emplacement</mat-label>
      <mat-select formControlName="emplacement">
      <mat-option *ngFor="let item of locationList" [value]="item">
        {{ item.location }}
      </mat-option>
      </mat-select>
      <button mat-icon-button matSuffix *ngIf="epiForm.get('emplacement')?.value" (click)="epiForm.get('emplacement')?.reset()">
       <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date dernier Contrôle</mat-label>
      <input matInput [matDatepicker]="controlPicker" formControlName="dateLastControl" />
      <mat-datepicker-toggle matSuffix [for]="controlPicker"></mat-datepicker-toggle>
      <mat-datepicker #controlPicker></mat-datepicker>
    </mat-form-field>

    <div class="anomaly-header">
      <!-- <h4>Anomalies</h4> -->
      <button mat-raised-button color="accent" type="button"  (click)="addAnomaly()">Ajouter une anomalie</button>
    </div>

    <div></div>

    <mat-form-field appearance="outline">
      <mat-label>Date Rebus</mat-label>
      <input matInput [matDatepicker]="rebusPicker" formControlName="dateRebus" />
      <mat-datepicker-toggle matSuffix [for]="rebusPicker"></mat-datepicker-toggle>
      <mat-datepicker #rebusPicker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Anomalie (Anomaly)</mat-label>
      <input matInput formControlName="anomalyName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Criticité (Criticity)</mat-label>
      <input matInput formControlName="anomalyCriticity" />
    </mat-form-field> -->
    
    
    <div class="table-container" *ngIf="anomaly">  
      <app-anomaly-table [(anomaly)]="anomaly"></app-anomaly-table>
    </div>
  </div>

  <div class="button-container">
    <button id="delete-button" mat-raised-button color="warn" type="button" (click)="onDelete()" class="full-width-button">Supprimer</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!epiForm.valid" class="full-width-button">Enregistrer</button>
  </div>
</form>
