form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 16px; // Added margin on the left
    margin-right: 16px; // Added margin on the right
    margin-bottom: 16px; // Added margin at the bottom
}

h2 {
    text-align: center; // Center the title
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); // Ensure each column has a minimum width of 200px
    gap: 16px;
    padding-top: 24px; // Added padding before the first row
}

mat-form-field {
    width: 100%;
}
