<div *ngIf="anomaly() as currentAnomaly" class="container">
  <form [formGroup]="anomalyForm" (ngSubmit)="saveAnomaly()">
    
    <mat-form-field appearance="outline">
        <mat-label>Date de détection</mat-label>
        <input matInput [matDatepicker]="detectionPicker" formControlName="date_detection" />
        <mat-datepicker-toggle matSuffix [for]="detectionPicker"></mat-datepicker-toggle>
        <mat-datepicker #detectionPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Criticité</mat-label>
        <mat-select formControlName="criticity" required>
          @for (criticity of criticities; track criticity) {
            <mat-option [value]="criticity">{{criticity}}</mat-option>
          }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Date de résolution</mat-label>
        <input matInput [matDatepicker]="resolutionPicker" formControlName="date_resolution" />
        <mat-datepicker-toggle matSuffix [for]="resolutionPicker"></mat-datepicker-toggle>
        <mat-datepicker #resolutionPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="anomaly_type" required>
          @for (type of anomalyTypes; track type) {
            <mat-option [value]="type">{{type.name}}</mat-option>
          }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="anomalyForm.invalid">Save</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="!anomaly()">
  <p>No anomaly selected.</p>
</div>
