// Define color variables
$color-primary: #1976d2;
$color-secondary: #ff4081;
$color-critical: rgb(218, 54, 54);
$color-criticalt-text: rgb(230, 226, 226);
$color-urgent: rgb(241, 163, 17);
$color-normal: rgb(135, 193, 231);
$color-rebus: rgb(105, 19, 19);
$color-processed: rgb(158, 221, 158);

// Add more colors as needed
