<h2>{{ formTitle }}</h2>
<div class="form-container">
<form [formGroup]="epiForm" (ngSubmit)="onSubmit()">
  <div class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Nature</mat-label>
      <mat-select formControlName="nature">
        <mat-option *ngFor="let item of levageMaterielList" [value]="item">
          {{ item.nature }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Numéro de série</mat-label>
      <input matInput formControlName="serialNumber" />
      <button mat-icon-button matSuffix type="button" (click)="generateSerialNumber()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-error *ngIf="epiForm.get('serialNumber')?.hasError('required')">
        numéro nécessaire.
      </mat-error>
      <mat-error *ngIf="epiForm.get('serialNumber')?.hasError('alreadyExists')">
        Déja utilisé.
      </mat-error>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Mise en service</mat-label>
      <input matInput [matDatepicker]="activationPicker" formControlName="activationDate" />
      <mat-datepicker-toggle matSuffix [for]="activationPicker"></mat-datepicker-toggle>
      <mat-datepicker #activationPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Levage CMU (kg)</mat-label>
        <input matInput type="number" formControlName="cmuKg" />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Levage Essai Charge</mat-label>
        <input matInput type="number" formControlName="essaiCharge" />
      </mat-form-field>
  

    <mat-form-field appearance="outline">
      <mat-label>Assignation</mat-label>
    
      <input type="text" matInput [formControl]="peopleFormControl" [matAutocomplete]="auto">
      <button mat-icon-button matSuffix *ngIf="peopleFormControl.value" (click)="peopleFormControl.reset()">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of (filteredPeople | async)" [value]="item">
          {{ item.prenom }} {{ item.nom }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Emplacement</mat-label>
      <mat-select formControlName="emplacement">
      <mat-option *ngFor="let item of locationList" [value]="item">
        {{ item.location }}
      </mat-option>
      </mat-select>
      <button mat-icon-button matSuffix *ngIf="epiForm.get('emplacement')?.value" (click)="epiForm.get('emplacement')?.reset()">
       <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date dernier Contrôle</mat-label>
      <input matInput [matDatepicker]="controlPicker" formControlName="dateLastControl" />
      <mat-datepicker-toggle matSuffix [for]="controlPicker"></mat-datepicker-toggle>
      <mat-datepicker #controlPicker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Date Rebus</mat-label>
      <input matInput [matDatepicker]="rebusPicker" formControlName="dateRebus" />
      <mat-datepicker-toggle matSuffix [for]="rebusPicker"></mat-datepicker-toggle>
      <mat-datepicker #rebusPicker></mat-datepicker>
    </mat-form-field>

    
    <div class="anomaly-header">
        <button mat-raised-button color="accent" type="button"  (click)="addAnomaly()">Ajouter une anomalie</button>
    </div>
    
    <div class="table-container" *ngIf="anomaly">  
      <app-anomaly-table [(anomaly)]="anomaly"></app-anomaly-table>
    </div>
  </div>
  <div class="button-container fixed-buttons">
    <button mat-raised-button color="warn" type="button" (click)="onDelete()" class="delete-button">Supprimer materiel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!epiForm.valid" class="save-button">Enregistrer</button>
  </div>
</form>
</div>
