<main class="container">
  <mat-toolbar-row class="toolbar-row">
    <button mat-icon-button aria-label="Save" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <span class="spacer"></span>
    
    <span style="font-size: larger;">Aujourd'hui: {{ today | date:'dd-MM-yyyy' }}</span>
    
    <span class="spacer"></span>

    <button mat-icon-button aria-label="Add Line" (click)="addLine()">
      <mat-icon>add</mat-icon>
    </button>
    
    <span class="spacer"></span>
    
    <button mat-icon-button aria-label="Settings" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
  
  <app-nav-bar [tabPanel]="tabPanel" class="app-nav-bar"></app-nav-bar>
  
  <div class="scrollable-content">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</main>