@use '@angular/material' as mat;

:host {
    display: block;
    width: 100%;
    height: 100%;
    //background-color: rgb(210, 210, 235);
}

.cell-red {
    background-color: rgb(218, 54, 54);
    color: rgb(243, 243, 243);
  }

  .table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .mat-header-row {
    background: white; /* Ensure the header row has a background color */
    z-index: 1; /* Ensure the header row is above other rows */
  }

  .class-normal{
    background-color: rgb(255, 255, 255);
  }

  .class-urgent{
    background-color: rgb(241, 163, 17);
    color: rgb(243, 243, 243);
  }
  .class-critical{
    background-color: rgb(218, 54, 54);
    color: rgb(243, 243, 243);
  }
  .class-rebus{
    //background-color: rgb(218, 54, 54);
    color: rgb(255, 105, 105);
  }
  .class-row-rebus{
    color: rgb(169, 169, 169);
    background-color: rgb(105, 19, 19);
  }

  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .input-field {
    flex: 0.5;
    width: 100%;
    box-sizing: border-box;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 25%;
    padding: 5px;
    
  }

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .filter-container button {
    margin-left: 10px;
  }
