<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link
       routerLink="/page-epi"
       routerLinkActive #rlaEpi="routerLinkActive"
       [active]="rlaEpi.isActive">
      Epi
    </a>
    <a mat-tab-link
       routerLink="/page-levage"
       routerLinkActive #rlaLevage="routerLinkActive"
       [active]="rlaLevage.isActive">
      Levage
    </a>
    <a mat-tab-link
       routerLink="/page-contractuel"
       routerLinkActive #rlaThird="routerLinkActive"
       [active]="rlaThird.isActive">
      Contractuel
    </a>
  </nav>