<div class="filter-container">
    <mat-form-field id="searchFilter" floatLabel="always">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filter" placeholder="Rechercher" #input>
      @if (filter) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    
    <div class="spacer"></div> <!-- Add a spacer to push the button to the end -->
    
    <div class="import-container">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Import CSV
      </button>
      <input type="file" #fileInput accept=".csv" style="display: none;" (change)="handleFileInput($event)">
    </div>
  </div>
  
  <table mat-table matSort  [dataSource]="levageData" (matSortChange)="announceSortChange($event)">
    
    <ng-container matColumnDef="edition" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef>Edition</th>
      <td mat-cell *matCellDef="let levage">
        <button mat-icon-button (click)="toggleEditRow(levage)">
          <mat-icon>{{ editingRow === levage ? 'save' : 'edit' }}</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="serial" >
      <th mat-header-cell *matHeaderCellDef>num Serie </th>
      <td mat-cell *matCellDef="let levage" [ngClass]="isRebus(levage)?'class-rebus' : ''"> 
          {{ levage.serial }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="nature">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nature
       </th>
      <td mat-cell *matCellDef="let levage">
          {{levage.nature.nature}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="date_mise_en_service">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Mise en service</th>
      <td mat-cell *matCellDef="let levage"  >
          {{levage?.date_mise_en_service|  date:'dd-MM-yyyy' }}
      </td>
    </ng-container>
  
    
    <ng-container matColumnDef="cmu_kg">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>CMU (kg)</th>
        <td mat-cell *matCellDef="let levage"> {{levage.cmu_kg}} </td>
      </ng-container>

    <ng-container matColumnDef="essai_charge">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Essqi charge (kg)</th>
        <td mat-cell *matCellDef="let levage"> {{levage.assigned_to?.prenom}} {{levage.assigned_to?.nom}}</td>
      </ng-container>
      

  
    <ng-container matColumnDef="assigned_to">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Assignation</th>
      <td mat-cell *matCellDef="let levage"> {{levage.assigned_to?.prenom}} {{levage.assigned_to?.nom}}</td>
    </ng-container>
    
    <ng-container matColumnDef="emplacement">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Emplacement</th>
      <td mat-cell *matCellDef="let levage"> {{levage.emplacement?.location}} </td>
    </ng-container>
    
    <ng-container matColumnDef="date_last_control">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date controle</th>
      <td mat-cell *matCellDef="let levage" [ngClass]="getControlClass(levage)"> {{levage?.date_last_control|  date:'dd-MM-yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="date_rebus">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date rebus</th>
      <td mat-cell *matCellDef="let levage"  [ngClass]="isRebus(levage)?'class-rebus' : ''"> {{levage?.date_rebus|  date:'dd-MM-yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="anomaly_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>anomalie</th>
      <td mat-cell *matCellDef="let levage"> {{levage.anomaly?.anomaly_type?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="anomaly_criticity">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Criticité</th>
      <td mat-cell *matCellDef="let levage" [ngClass]="getCriticityClass(levage)"> {{levage.anomaly?.criticity}} </td>
    </ng-container>
  
  
    <tr mat-header-row  *matHeaderRowDef="displayedColumns; sticky:true  "></tr>
    <tr mat-row *matRowDef="let levage; columns: displayedColumns"  [ngClass]="isRebus(levage)?'class-row-rebus' : ''"></tr>
  </table>