<h1>Configuration</h1>

<div>
  <p> {{ currentDatabaseName || 'Non chargée' }}</p>
</div>


<div class="file-actions">
  <button mat-raised-button color="primary" (click)="openFileDialog()">Ouvrir un fichier existant</button>
  <button mat-raised-button color="accent" (click)="createNewFile()">Créer un nouveau fichier</button>
  <button mat-raised-button color="accent" (click)="initDb()">force init</button>
</div>

<div class="file-display">
  <span *ngIf="selectedFileName" class="file-path">{{ selectedFileName }}</span>
</div>

<div>
  <button mat-raised-button color="accent" (click)="applySettings()">Valider</button>
</div>
