<h1>Configuration</h1>

<div>
  <p>Nom de la base de données actuelle : {{ currentDatabaseName || 'Non chargée' }}</p>
</div>

<div class="directory-selection">
  <button mat-raised-button color="primary" (click)="openDirectoryDialog()">Sélectionner un répertoire</button>
  <span *ngIf="selectedDirectory" class="directory-path">{{ selectedDirectory }}</span>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Nom de la base</mat-label>
    <input matInput [(ngModel)]="newDatabaseName" placeholder="Nom de la base">
  </mat-form-field>
</div>

<div>
  <button mat-raised-button color="accent" (click)="applySettings()">Valider</button>
</div>
